### Ejercicio 1
Coge un conjunto de datos de tema deportivo que te guste.

Base de datos del año 2022 descargada de:
https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results?resource=download

In [244]:
#Importar librerias
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import matplotlib.pyplot as plt

!pip install imblearn
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

#Cargar los datos
filename = 'C:/Users/Lucía Alvarez/OneDrive - psico.edu.uy/00 Barcelona activa/athlete_events.csv'
df = pd.read_csv(filename, sep=",", encoding="utf8") 
df

Requirement already satisfied: imblearn in d:\servidor\anaconda\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in d:\servidor\anaconda\lib\site-packages (from imblearn) (0.9.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\servidor\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in d:\servidor\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.7.1)
Requirement already satisfied: joblib>=0.11 in d:\servidor\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in d:\servidor\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.20.3)
Requirement already satisfied: scikit-learn>=1.0.1 in d:\servidor\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [245]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

 Realiza un muestreo de los datos generando una muestra aleatoria simple y una muestra sistemática.

In [246]:
#Generar una muestra aleatoria simple con un tamaño muestral de 100 sujetos
df_aleatoria_simple = df.sample(n=100)
df_aleatoria_simple.describe()

                  ID        Age      Height      Weight         Year
count     100.000000  98.000000   87.000000   86.000000   100.000000
mean    64941.460000  25.163265  176.149425   73.116279  1984.560000
std     39174.034008   6.081396    9.488707   14.506322    28.389897
min        14.000000  13.000000  157.000000   49.000000  1900.000000
25%     36359.000000  20.250000  169.000000   63.250000  1972.000000
50%     69912.000000  25.000000  177.000000   70.500000  1992.000000
75%     93629.500000  28.000000  184.500000   81.000000  2006.000000
max    133466.000000  43.000000  197.000000  146.000000  2016.000000

In [247]:
#Muestra sistemática
#En esta muestra se selecciona a un sujeto cada 10, la selección va desde el sujeto 0 al sujeto 165

df_muestra_sistematica= df.iloc[0:165:10]
df_muestra_sistematica

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
30,11,Jorma Ilmari Aalto,M,22.0,182.0,76.5,Finland,FIN,1980 Winter,1980,Winter,Lake Placid,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
50,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
70,20,Kjetil Andr Aamodt,M,26.0,176.0,85.0,Norway,NOR,1998 Winter,1998,Winter,Nagano,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
80,22,Andreea Aanei,F,22.0,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN
90,28,Jan-Erik Aarberg,M,47.0,170.0,77.0,Norway,NOR,1972 Summer,1972,Summer,Munich,Sailing,Sailing Mixed Three Person Keelboat,NaN
100,36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Butterfly,NaN
110,40,Roald Edgar Aas,M,23.0,NaN,NaN,Norway,NOR,1952 Winter,1952,Winter,Oslo,Speed Skating,"Speed Skating Men's 1,500 metres",Bronze
120,44,Meelis Aasme,M,25.0,182.0,73.0,Estonia,EST,1998 Winter,1998,Winter,Nagano,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
130,47,Erling Rudolf Aastad,M,22.0,177.0,74.0,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Athletics,Athletics Men's 4 x 100 metres Relay,NaN
140,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN
150,56,Ren Abadie,M,21.0,NaN,NaN,France,FRA,1956 Summer,1956,Summer,Melbourne,Cycling,"Cycling Men's Road Race, Team",Gold
160,64,M'Bairo Abakar,M,31.0,NaN,NaN,Chad,CHA,1992 Summer,1992,Summer,Barcelona,Judo,Judo Men's Half-Middleweight,NaN

In [248]:
df_muestra_sistematica.describe()

              ID        Age      Height      Weight         Year
count  17.000000  17.000000   14.000000   14.000000    17.000000
mean   28.588235  26.411765  178.857143   79.535714  1984.117647
std    19.039626   6.662008    7.388735   14.697546    26.090904
min     1.000000  20.000000  167.000000   64.000000  1920.000000
25%    16.000000  22.000000  175.250000   73.250000  1972.000000
50%    22.000000  24.000000  178.500000   76.750000  1992.000000
75%    44.000000  31.000000  182.750000   83.750000  1998.000000
max    64.000000  47.000000  194.000000  125.000000  2016.000000

### Ejercicio 2
Continúa con el conjunto de datos de tema deportivo y genera una muestra estratificada y una muestra utilizando SMOTE (Synthetic Minority Oversampling Technique).

In [249]:
#Muestreo estratificado desproporcionado
#Se selecciona aleatoriamente a 50 sujetos de cada sexo

df_muestra_estratificada = df.groupby('Sex', group_keys=False).apply(lambda x: x.sample(50))
df_muestra_estratificada

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
127478,64253,Petra Kronberger,F,22.0,170.0,62.0,Austria,AUT,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Women's Slalom,Gold
56704,29047,Patricia Ann Dodd,F,19.0,NaN,NaN,Great Britain,GBR,1968 Winter,1968,Winter,Grenoble,Figure Skating,Figure Skating Women's Singles,NaN
146881,73726,Maureen Jelagat Maiyo,F,27.0,167.0,58.0,Kenya,KEN,2012 Summer,2012,Summer,London,Athletics,Athletics Women's 400 metres Hurdles,NaN
230498,115692,Sharleen Marie Stratton,F,24.0,157.0,50.0,Australia,AUS,2012 Summer,2012,Summer,London,Diving,Diving Women's Springboard,NaN
159368,79987,Phoebe Lan Mills,F,15.0,152.0,41.0,United States,USA,1988 Summer,1988,Summer,Seoul,Gymnastics,Gymnastics Women's Team All-Around,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160327,80451,Mihajlo Miti,M,21.0,201.0,90.0,Serbia,SRB,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
114715,58090,Jarkko Kauppinen,M,31.0,179.0,74.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Biathlon,Biathlon Men's 20 kilometres,NaN
261755,130963,"Michael P. ""Mike"" Windischmann",M,22.0,183.0,77.0,United States,USA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,NaN
20366,10742,Rolf Bernhard,M,30.0,180.0,72.0,Switzerland,SUI,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Men's Long Jump,NaN
174234,87514,Tibor Andrew Nyilas,M,34.0,183.0,82.0,United States,USA,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's Sabre, Team",Bronze

In [250]:
#Para trabajar con la variable sexo es necesario recodificarla para que sea una variable númerica
df['Sexo_Numerica'] = np.where(df['Sex'] == "F", 1, 0)

In [251]:
#Ver cuántos participantes hay en cada condición de la variable Sexo
distribucion_por_clase=df['Sexo_Numerica'].value_counts()
print(distribucion_por_clase)

0    196594
1     74522
Name: Sexo_Numerica, dtype: int64

In [252]:
#Para generar una muestra aleatoria según Sexo
y = df['Sexo_Numerica']

Xtrain, Xtest = train_test_split(df, test_size=0.30, stratify=y)
Xtrain

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Sexo_Numerica
20456,10790,J. Simon Netcott Berrisford,M,24.0,196.0,95.0,Great Britain,GBR,1988 Summer,1988,Summer,Seoul,Rowing,Rowing Men's Coxless Fours,NaN,0
74415,37789,Georgeta Gabor,F,14.0,142.0,37.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Horse Vault,NaN,1
152912,76742,Martin Matupi,M,29.0,170.0,66.0,Malawi,MAW,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's Triple Jump,NaN,0
150916,75732,Guillermo Martnez,M,42.0,174.0,78.0,Colombia,COL,1972 Summer,1972,Summer,Munich,Shooting,"Shooting Mixed Rapid-Fire Pistol, 25 metres",NaN,0
227686,114397,Ian Stapleton,M,20.0,183.0,68.0,Jamaica,JAM,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Men's 400 metres,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36716,18864,Sherry R. Cassuto,F,31.0,175.0,74.0,United States,USA,1988 Summer,1988,Summer,Seoul,Rowing,Rowing Women's Quadruple Sculls,NaN,1
269952,135059,Andreas Zingerle,M,26.0,169.0,67.0,Italy,ITA,1988 Winter,1988,Winter,Calgary,Biathlon,Biathlon Men's 20 kilometres,NaN,0
93986,47574,"Gilbert J. ""Gil"" Henderson",M,33.0,177.0,83.0,Canada,CAN,1960 Summer,1960,Summer,Roma,Shooting,Shooting Men's Trap,NaN,0
193705,97222,Sofya Sergeyevna Prosvirnova,F,16.0,167.0,60.0,Russia,RUS,2014 Winter,2014,Winter,Sochi,Short Track Speed Skating,"Short Track Speed Skating Women's 1,000 metres",NaN,1
40646,20943,Atanas Georgiev Chochev,M,23.0,180.0,74.0,Bulgaria,BUL,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Men's Triple Jump,NaN,0

In [253]:
#Ver cuántos participantes hay en cada condición de la variable Sexo
distribucion_por_clase_2=Xtrain['Sexo_Numerica'].value_counts()
print(distribucion_por_clase_2)

0    137616
1     52165
Name: Sexo_Numerica, dtype: int64

In [254]:
#Para realizar el análisis es necesario quedarse únicamente con las variables númericas
df2 = df.drop(columns =['Name', 'Sex', 'Team', 'NOC', 'Games', 'Season', 'City'
                       , 'Sport', 'Event','Medal'])

In [255]:
#Remplazar los valores perdidos para poder continuar con el ejercicio
df2.fillna(999, inplace=True)
df2

            ID   Age  Height  Weight  Year  Sexo_Numerica
0            1  24.0   180.0    80.0  1992              0
1            2  23.0   170.0    60.0  2012              0
2            3  24.0   999.0   999.0  1920              0
3            4  34.0   999.0   999.0  1900              0
4            5  21.0   185.0    82.0  1988              1
...        ...   ...     ...     ...   ...            ...
271111  135569  29.0   179.0    89.0  1976              0
271112  135570  27.0   176.0    59.0  2014              0
271113  135570  27.0   176.0    59.0  2014              0
271114  135571  30.0   185.0    96.0  1998              0
271115  135571  34.0   185.0    96.0  2002              0

[271116 rows x 6 columns]

In [256]:
smote = SMOTE(sampling_strategy = 'minority')
X_smote, y_smote = smote.fit_resample(df2, df2['Sexo_Numerica'])

print('After OverSampling, the shape of train_X: {}'.format(X_smote.shape)) 
print('After OverSampling, the shape of train_y: {} \n'.format(y_smote.shape)) 
  
print("After OverSampling, counts of label '1': {}".format(sum(y_smote == 1))) 
print("After OverSampling, counts of label '0': {}".format(sum(y_smote == 0)))

After OverSampling, the shape of train_X: (393188, 6)
After OverSampling, the shape of train_y: (393188,)

After OverSampling, counts of label '1': 196594
After OverSampling, counts of label '0': 196594

### Ejercicio 3
Continúa con el conjunto de datos de tema deportivo y genera una muestra utilizando el método Reservoir sampling.

In [269]:
input_array = df['Age']
n = len(input_array)
k = 100

output = []

for i in range(k):
    output.append(input_array[i])
for j in range(k,n):
    index = random.randint(0, j)
if index < k:
    output[index] = input_array[j]
    
    
print("Los datos seleccionados tiene", len(output), "casos")

Los datos seleccionados tiene 100 casos

In [270]:
print("Los datos seleccionados son: ", output)

Los datos seleccionados son:  [24.0, 23.0, 24.0, 34.0, 21.0, 21.0, 25.0, 25.0, 27.0, 27.0, 31.0, 31.0, 31.0, 31.0, 33.0, 33.0, 33.0, 33.0, 31.0, 31.0, 31.0, 31.0, 33.0, 33.0, 33.0, 33.0, 18.0, 18.0, 26.0, 26.0, 22.0, 31.0, 30.0, 34.0, 32.0, 22.0, 22.0, 30.0, 30.0, 34.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 31.0, 54.0, 20.0, 20.0, 20.0, 20.0, 22.0, 22.0, 22.0, 22.0, 22.0, 26.0, 26.0, 26.0, 26.0, 30.0, 30.0, 30.0, 30.0, 30.0, 34.0, 34.0, 27.0, 22.0, 22.0, 26.0, 24.0, 24.0, 27.0, 24.0, 17.0, 26.0, 43.0, 47.0, 22.0, 26.0, 30.0, 24.0, 23.0, 24.0, 28.0, 30.0, 24.0]

Enlaces importantes sobre este script:

https://medium.com/analytics-vidhya/probabability-sampling-implementation-in-python-b7d3749eeedb

https://www.statology.org/stratified-sampling-pandas/


SMOTE:
https://iq.opengenus.org/smote-for-imbalanced-dataset/

Método Reservoir sampling: https://www.educative.io/edpresso/what-is-reservoir-sampling