# Ejercicio 1
Coge el conjunto de datos que quieras y realiza un pipeline y un gridsearch aplicando el algoritmo de Random Forest.

Descripción de las variables: https://www.kaggle.com/code/adveros/flight-delay-eda-exploratory-data-analysis

In [77]:
# importing required values
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [78]:
# Cargar los datos
filename = 'C:/Users/Lucía Alvarez/OneDrive - psico.edu.uy/00 Barcelona activa/DelayedFlights.csv'
df = pd.read_csv(filename, sep=",", encoding="utf8") 

# Se selecciona unicamente los 2.000 casos del dataframe para que el programa ejecute los análisis sin problemas
df = df.iloc[0:2000]

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2000 non-null   int64
 1   Year               2000 non-null   int64
 2   Month              2000 non-null   int64
 3   DayofMonth         2000 non-null   int64
 4   DayOfWeek          2000 non-null   int64
 5   DepTime            2000 non-null   float64
 6   CRSDepTime         2000 non-null   int64
 7   ArrTime            1996 non-null   float64
 8   CRSArrTime         2000 non-null   int64
 9   UniqueCarrier      2000 non-null   object
 10  FlightNum          2000 non-null   int64
 11  TailNum            2000 non-null   object
 12  ActualElapsedTime  1996 non-null   float64
 13  CRSElapsedTime     2000 non-null   float64
 14  AirTime            1996 non-null   float64
 15  ArrDelay           1996 non-null   float64
 16  DepDelay           2000 non-null   float64
 17  Origin             2000 non-null   object
 18  Dest               2000 non-null   object
 19  Distance           2000 non-null   int64
 20  TaxiIn             1996 non-null   float64
 21  TaxiOut            2000 non-null   float64
 22  Cancelled          2000 non-null   int64
 23  CancellationCode   2000 non-null   object
 24  Diverted           2000 non-null   int64
 25  CarrierDelay       1215 non-null   float64
 26  WeatherDelay       1215 non-null   float64
 27  NASDelay           1215 non-null   float64
 28  SecurityDelay      1215 non-null   float64
 29  LateAircraftDelay  1215 non-null   float64
dtypes: float64(14), int64(11), object(5)
memory usage: 468.9+ KB

In [79]:
# check for the null values
df.isna().sum()

Unnamed: 0             0
Year                   0
Month                  0
DayofMonth             0
DayOfWeek              0
DepTime                0
CRSDepTime             0
ArrTime                4
CRSArrTime             0
UniqueCarrier          0
FlightNum              0
TailNum                0
ActualElapsedTime      4
CRSElapsedTime         0
AirTime                4
ArrDelay               4
DepDelay               0
Origin                 0
Dest                   0
Distance               0
TaxiIn                 4
TaxiOut                0
Cancelled              0
CancellationCode       0
Diverted               0
CarrierDelay         785
WeatherDelay         785
NASDelay             785
SecurityDelay        785
LateAircraftDelay    785
dtype: int64

In [85]:
df2.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
12,19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,...,2.0,5.0,0,N,0,12.0,0.0,0.0,0.0,25.0
13,21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,...,5.0,5.0,0,N,0,7.0,0.0,0.0,0.0,12.0
17,26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,...,6.0,6.0,0,N,0,40.0,0.0,0.0,0.0,7.0
19,30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,...,6.0,7.0,0,N,0,5.0,0.0,0.0,0.0,59.0
23,37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,...,6.0,11.0,0,N,0,3.0,0.0,0.0,0.0,69.0

In [ ]:
# Create an object of the OneHotEncoder
OHE = ce.OneHotEncoder(cols=['UniqueCarrier',
                             'TailNum',
                             'Origin',
                             'Dest',
                             'CancellationCode'],use_cat_names=True)

# Encode the categorical variables
df2 = OHE.fit_transform(df2)

In [95]:
df2.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier_WN',
       ...
       'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode_N', 'Diverted',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object', length=554)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df2 = scaler.fit_transform(df2)

#transformación del array  con variables estandarizadas  en el dataframe
df2 = pd.DataFrame(df2, columns=['Unnamed: 0', 'DayofMonth', 'DayOfWeek',
                'DepDelay',  'Distance', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'])
df2

,Unnamed: 0,DayofMonth,DayOfWeek,DepDelay,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,-1.603084,-0.375293,-0.375293,-0.421804,-0.230303,-0.472928,-0.075649,-0.300101,-0.101531,0.097732
1,-1.600667,-0.375293,-0.375293,0.503171,2.164215,-0.131788,-0.075649,-0.300101,-0.101531,0.605187
2,-1.594624,-0.375293,-0.375293,1.259968,0.466244,-0.217073,-0.075649,-0.300101,-0.101531,1.450945
3,-1.588582,-0.375293,-0.375293,-0.618011,1.937225,-0.430286,-0.075649,-0.300101,-0.101531,-0.578874
4,-1.586165,-0.375293,-0.375293,-0.589981,0.488498,-0.558213,-0.075649,-0.300101,-0.101531,-0.443553
...,...,...,...,...,...,...,...,...,...,...
1210,2.183121,2.664583,2.664583,-0.449834,-0.274811,-0.003861,-0.075649,-0.300101,-0.101531,-0.308232
1211,2.185538,2.664583,2.664583,0.587259,-0.036694,-0.558213,-0.075649,-0.300101,-0.101531,0.841999
1212,2.192789,2.664583,2.664583,-0.449834,0.902420,-0.217073,-0.075649,-0.300101,-0.101531,-0.545044
1213,2.196414,2.664583,2.664583,-0.561952,-0.506251,0.294637,-0.075649,0.756541,-0.101531,-0.680365
1214,2.198831,2.664583,2.664583,-0.337716,-0.506251,-0.131788,-0.075649,0.025020,-0.101531,-0.071420

In [72]:
##Model Building

# importing libraries
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import  RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# randomly split the data
train_x, test_x, train_y, test_y = train_test_split(train_X, train_Y,test_size=0.25,random_state=0)

NameError: name 'train_X' is not defined

In [71]:
# create an object of the LinearRegression Model
model_LR = LinearRegression()

# fit the model with the training data
model_LR.fit(train_x, train_y)

# predict the target on train and test data 
predict_train = model_LR.predict(train_x)
predict_test  = model_LR.predict(test_x)

# Root Mean Squared Error on train and test date
print('RMSE on train data: ', mean_squared_error(train_y, predict_train)**(0.5))
print('RMSE on test data: ',  mean_squared_error(test_y, predict_test)**(0.5))

NameError: name 'train_x' is not defined

### Enlaces del ejercicio 1
https://www.analyticsvidhya.com/blog/2020/01/build-your-first-machine-learning-pipeline-using-scikit-learn/